---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

		<h1>My Astro Site</h1>
    <h1>Blog</h1>
    <h2>Astro tutorial blog posts below...</h2>

    <section>
      <h1>Pretend this is a Blog Post title</h1>
      <p>Pretend this is a preview of the post's content</p>
    </section>

	</body>
</html>
