---
import Social from "./Social.astro"
---

<footer>
  <p>Learn more about my projects on <Social platform="github" username="joshcamp503" /></p>
  <Social platform="facebook" username="joshcamp503" />
  <Social platform="instagram" username="joshcamp503" />
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
